APScheduler==3.11.0
asgiref==3.8.1
Brotli==1.1.0
cffi==1.17.1
python-decouple==3.8
dj-database-url==2.1.0
charset-normalizer==3.4.2
colorama==0.4.6
cssselect2==0.8.0
distlib==0.3.8
Django==5.0.4
docx2pdf==0.1.8
et_xmlfile==2.0.0
filelock==3.13.4
fonttools==4.58.1
fpdf==1.7.2
lxml==5.4.0
openpyxl==3.1.5
pillow==10.4.0
platformdirs==4.2.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-docx==1.1.2
qrcode==8.2
reportlab==4.4.2
sqlparse==0.4.4
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2024.1
tzlocal==5.3.1
virtualenv==20.25.3
waitress==3.0.2
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.12.0
psycopg2-binary==2.9.9
zopfli==0.2.3.post1
