
        <!-- Disposal Confirmation Modal -->
        <div class="modal fade" id="confirmDisposeModalKeyboard" tabindex="-1" aria-labelledby="confirmDisposeModalKeyboard" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmDisposeModalKeyboard">Confirm Disposal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to dispose of this keyboard?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Disposal form inside modal -->
                <form method="POST" action="{% url 'keyboard_disposed' keyboard_detailse.id %}" class="dispose-keyboard-form d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Dispose</button>
                </form>
              </div>
            </div>
          </div>
        </div>