{% extends 'base2.html' %}
{% block titlename %}
        Homepage
    {% endblock  %} 

{% block bodyname %}
    THIS IS HOMEPAGEE
  {% endblock  %}

  {% block homeactive %}px-2 text-white{% endblock  %}



  {% block blog_post %}
  {% for posts in allPosts %}
    

  <div class="container my-3">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
    
      <div class="card-body">
        <h8 class="card-title">Blog by: {{posts.author}}</h8>
        <h3 class="card-title">{{posts.title}}</h3>
        <p class="card-text">{{posts.content | truncatechars:120}}</p>
        
        <a href="{% url 'blogpostname' posts.slug %}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}}
    
  {% endblock  %}


