{% extends 'base.html' %}


{% block content %}

<div class="container">
  <div class="page-inner">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-head-row">
          <h4 class="card-title">Basic</h4>
          <div class="card-tools">
            <a href="#" class="btn btn-label-danger btn-round btn-sm me-2">
              <span class="btn-label">
                <i class="fa fa-pencil"></i>
              </span>
              Return Supply
            </a>
            <a href="#" class="btn btn-label-success btn-round btn-sm me-2">
              <span class="btn-label">
                <i class="fa fa-pencil"></i>
              </span>
              Export
            </a>
            <a href="#" class="btn btn-label-info btn-round btn-sm">
              <span class="btn-label">
              <i class="fa fa-print"></i>
              </span>
              Print
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          
           <table
            id="multi-filter-select"
            class="display table table-striped table-hover" 
          > 
            <thead>
              <tr>
                <th>IT Equipment</th>
                <th>Serial No.</th>
                <th>Brand Name</th>
                <th>Model Name</th>
                <th>Processor</th>
                <th>Memory</th>
                <th>Hard Drive</th>
                <th>Link</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>IT Equipment</th>
                <th>Serial No.</th>
                <th>Brand Name</th>
                <th>Model Name</th>
                <th>Processor</th>
                <th>Memory</th>
                <th>Hard Drive</th>
                <th>Link</th>
              </tr>
            </tfoot>
            <tbody>
              {% for desktop in desktop_List %}
              <tr>
                <td>{{ desktop.name }}</td>
                <td>{{ desktop.desktop_SerialNo }}</td>
                <td>{{ desktop.desktop_BrandName }}</td>
                <td>{{ desktop.desktop_Model }}</td>
                <td>{{ desktop.desktop_Processor }}</td>
                <td>{{ desktop.desktop_Memory }}</td>
                <td>{{ desktop.desktop_Drive }}</td>
                <td><a href="{% url 'desktop_detailed_view' desktop.id %}">
                  <span class="sub-item">View Details</span>
                </a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


{% endblock %}