{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Disposal Confirmation</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="#">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Disposal</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Success</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Keyboard Disposal Successful!</div>
        </div>
        <div class="card-body">
          <center><h4><p class="text-success">Your keyboard was successfully disposed.</p></h4></center>
          <center><p>You will be redirected to the package details page in <span id="countdown">5</span> seconds...</p></center>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Countdown and redirect logic
  function redirectCountdown() {
      let countdown = 5;
      const countdownElement = document.getElementById("countdown");

      const interval = setInterval(() => {
          countdownElement.innerHTML = countdown;
          countdown--;

          if (countdown < 0) {
              clearInterval(interval);
              // Redirect to the detailed view of the desktop package on the Keyboard tab
              window.location.href = "{% url 'desktop_details_view' desktop_package_id %}#pills-keyboard";
          }
      }, 1000);
  }

  // Start the countdown when the page loads
  window.onload = redirectCountdown;
</script>
{% endblock %}
