<!-- templates/add_equipment.html -->
{% extends 'base.html' %} 



{% block content %}



<!-- Forms begins here -->
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Forms</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="#">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Forms</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Basic Form</a>
        </li>
      </ul>
    </div>


    {% comment %} the error and success message {% endcomment %}

    {% for mesg in messages %} 
    <div class="alert alert-{{ mesg.tags }} alert-dismissible fade show" role="success">
      <strong>Holy guacamole!</strong> {{ mesg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

{% comment %} 
    <div class="alert alert-{{ mesg.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ mesg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> {% endcomment %}

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">ADD ICT EQUIPMENT</div>
        </div>

        <form action="{% url 'add_equipment_func_input' %}" method="post">
          {% csrf_token %}
          <div class="card-body">
            <!-- Equipment Selection Dropdown -->
            <div class="form-group">
              <label for="equipmentSelect">Equipment Type</label>
              <select class="form-select form-control" id="equipmentSelect" name="name_input">
                <option value="" selected disabled>Select Equipment Type</option>
                <option value="Desktop">Desktop</option>
                <option value="Laptop">Laptop</option>
                <option value="UPS">UPS</option>
                <option value="Mouse">Mouse</option>
              </select>
            </div>
      
            <!-- Dynamic Forms Section for Desktop -->
            <div id="desktopForm" class="equipment-form card-body" style="display: none;">
              <h5>Desktop Details</h5>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopSerial">Serial Number</label>
                    <input type="text" class="form-control" id="desktopSerial" name="desktop_serial" placeholder="Enter Desktop Serial Number">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopBrand">Brand Name</label>
                    <input type="text" class="form-control" id="desktopBrand" name="desktop_brand" placeholder="Enter Desktop Brand">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopModel">Model</label>
                    <input type="text" class="form-control" id="desktopModel" name="desktop_model" placeholder="Enter Desktop Model">
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopProcessor">Processor</label>
                    <input type="text" class="form-control" id="desktopProcessor" name="desktop_processor" placeholder="Enter Desktop Processor">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopMemory">Memory</label>
                    <input type="text" class="form-control" id="desktopMemory" name="desktop_memory" placeholder="Enter Memory Size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopDrive">Computer Drive</label>
                    <input type="text" class="form-control" id="desktopDrive" name="desktop_drive" placeholder="Enter Desktop Drive Size">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopGPU">Graphics Name</label>
                    <input type="text" class="form-control" id="desktopGPU" name="desktop_gpu" placeholder="Enter GPU Name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopGPUSIZE">Graphics Size</label>
                    <input type="text" class="form-control" id="desktopGPUSIZE" name="desktop_gpusize" placeholder="Enter GPU Size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopOS">Operating System</label>
                    <input type="text" class="form-control" id="desktopOS" name="desktop_os" placeholder="Enter Operating System">
                  </div>
                </div>
              </div>

                <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopOffice">Office Version</label>
                    <input type="text" class="form-control" id="desktopOffice" name="desktop_office" placeholder="Enter Office Version">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopOSkeys">OS License Keys</label>
                    <input type="text" class="form-control" id="desktopOSkeys" name="desktop_OSkeys" placeholder="Enter OS Keys">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="desktopOfficekeys">Office License Keys</label>
                    <input type="text" class="form-control" id="desktopOfficekeys" name="desktop_Officekeys" placeholder="Enter Office Keys">
                  </div>
                </div>

              </div>
              &nbsp;

              <!-- Add here for the Details of the Monitor -->
              <h5>Monitor Details</h5>
                
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="monitorSerial">Serial Number</label>
                      <input type="text" class="form-control" id="monitorSerial" name="monitor_serial" placeholder="Enter Monitor Serial Number">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="monitorBrand">Brand Name</label>
                      <input type="text" class="form-control" id="monitorBrand" name="monitor_brand" placeholder="Enter Monitor Brand">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="monitorModel">Model</label>
                      <input type="text" class="form-control" id="monitorModel" name="monitor_model" placeholder="Enter Monitor Model">
                    </div>
                  </div>
                </div>    

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="monitorSize">Screen Size</label>
                      <input type="text" class="form-control" id="monitorSize" name="monitor_size" placeholder="Enter Monitor Size">
                    </div>
                  </div>
                </div>    
            


                &nbsp;
                   <!-- Add here for the Details of the Keyboard  -->
              <h5>Keyboard Details</h5>
                
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="keyboardSerial">Serial Number</label>
                    <input type="text" class="form-control" id="keyboardSerial" name="keyboard_serial" placeholder="Enter Keyboard Serial Number">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="keyboardBrand">Brand Name</label>
                    <input type="text" class="form-control" id="keyboardBrand" name="keyboard_brand" placeholder="Enter keyboard Brand">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="keyboardModel">Model</label>
                    <input type="text" class="form-control" id="keyboardModel" name="keyboard_model" placeholder="Enter keyboard Model">
                  </div>
                </div>
              </div>    
              &nbsp;
                 <!-- Add here for the Details of the Mouse  -->
              <h5>Mouse Details</h5>
                
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mouseSerial">Serial Number</label>
                    <input type="text" class="form-control" id="monitorSerial" name="mouse_serial" placeholder="Enter Mouse Serial Number">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mouseBrand">Brand Name</label>
                    <input type="text" class="form-control" id="mouseBrand" name="mouse_brand" placeholder="Enter Mouse Brand">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mouseModel">ModelMouse</label>
                    <input type="text" class="form-control" id="mouseModel" name="mouse_model" placeholder="Enter Mouse Model">
                  </div>
                </div>
              </div>    
              <!-- Add more desktop-specific fields here as needed -->
            </div>

            <!-- Repeat similar blocks for Laptop, UPS, etc. -->
          </div>
          <div class="card-action">
            <button class="btn btn-success">Submit</button>
            <button class="btn btn-danger">Cancel</button>
          </div>
      </form>

  <div id="laptopForm" class="equipment-form" style="display: none;">
    <h5>Laptop Details</h5>
    <div class="form-group">
      <label for="laptopSerial">Serial Number</label>
      <input type="text" class="form-control" id="laptopSerial" name="laptop_serial" placeholder="Enter Laptop Serial Number">
    </div>
    <div class="form-group">
      <label for="laptopBrand">Brand Name</label>
      <input type="text" class="form-control" id="laptopBrand" name="laptop_brand" placeholder="Enter Laptop Brand">
    </div>
    <div class="form-group">
      <label for="laptopBattery">Battery Life</label>
      <input type="text" class="form-control" id="laptopBattery" name="laptop_battery" placeholder="Enter Laptop Battery Life">
    </div>
    <!-- Add more laptop-specific fields here -->
  </div>

  <div id="upsForm" class="equipment-form" style="display: none;">
    <h5>UPS Details</h5>
    <div class="form-group">
      <label for="upsSerial">Serial Number</label>
      <input type="text" class="form-control" id="upsSerial" name="ups_serial" placeholder="Enter UPS Serial Number">
    </div>
    <div class="form-group">
      <label for="upsCapacity">Capacity</label>
      <input type="text" class="form-control" id="upsCapacity" name="ups_capacity" placeholder="Enter UPS Capacity">
    </div>
    <!-- Add more UPS-specific fields here -->
  </div>

  <!-- Add similar forms for other equipment types as needed -->
</div>
<div class="card-action">
  <button type="submit" class="btn btn-success">Submit</button>
  <button type="reset" class="btn btn-danger">Cancel</button>
</div>
</form>
      </div>

    </div>
  </div>
</div>
<!-- Forms ends here -->



<!-- JavaScript for showing/hiding forms -->
<script>
  document.getElementById('equipmentSelect').addEventListener('change', function() {
    // Hide all forms initially
    document.querySelectorAll('.equipment-form').forEach(function(form) {
      form.style.display = 'none';
    });

    // Show the selected form
    const selectedValue = this.value;
    if (selectedValue === 'Desktop') {
      document.getElementById('desktopForm').style.display = 'block';
    } else if (selectedValue === 'Laptop') {
      document.getElementById('laptopForm').style.display = 'block';
    } else if (selectedValue === 'UPS') {
      document.getElementById('upsForm').style.display = 'block';
    }
    // Add more conditions for other equipment types
  });
</script>

{% endblock %}
