{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Desktop Package Details</h2>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <td>{{ desktop.name }}</td>
    </tr>
    <tr>
      <th>Serial No.</th>
      <td>{{ desktop.desktop_SerialNo }}</td>
    </tr>
    <tr>
      <th>Brand Name</th>
      <td>{{ desktop.desktop_BrandName }}</td>
    </tr>
    <tr>
      <th>Model Name</th>
      <td>{{ desktop.desktop_Model }}</td>
    </tr>
    <tr>
      <th>Processor</th>
      <td>{{ desktop.desktop_Processor }}</td>
    </tr>
    <tr>
      <th>Memory</th>
      <td>{{ desktop.desktop_Memory }}</td>
    </tr>
    <tr>
      <th>Hard Drive</th>
      <td>{{ desktop.desktop_Drive }}</td>
    </tr>
    <!-- Add more fields as needed -->
  </table>
</div>
{% endblock %}
