{% extends 'base.html' %}

{% block content %}
<div class="container">
  

<div class="page-inner">
<div class="row">
  <div class="col-md-8">
    <div class="card card-round">
      <div class="card-header">
        <div class="card-head-row">
          <div class="card-title">Desktop Package Details</div>
          <div class="card-tools">


            <button class="btn btn-label-danger btn-round btn-sm me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <span class="btn-label">
                <i class="fa fa-location-arrow"></i>
              </span>
              Return to Supply
            </button>

            <a href="#" class="btn btn-label-success btn-round btn-sm me-2">
              <span class="btn-label">
                <i class="fa fa-pencil"></i>
              </span>
              Export
            </a>
            <a href="#" class="btn btn-label-info btn-round btn-sm">
              <span class="btn-label">
                <i class="fa fa-print"></i>
              </span>
              Print
            </a>
          </div>
        </div>
      </div>

      <div class="card-body">

        <div class="container">
          <h2>R08-LEY4-156</h2>
          {% comment %} this is the message if successfull updsated {% endcomment %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
           {% endfor %}
          {% endif %}
          <table class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4">       
            <form method="POST" action="{% url 'desktop_detailed_view' desktops.id %}">
            <thead>
              <tr>
                <th class="col-sm-6 col-md-3">Details</th>
                <th colspan="8">Data Entries</th>
                <th class="col-sm-1">Edit</th>
              </tr>
            
     
            <tr>
                <td>Equipment</td>
                <td><span id="equipment-view">{{ desktops.name }}</span>
                  <input class="form-control input-full" id="equipment-edit" type="text" name="name_input" value="{{ desktops.name }}" style="display:none;"></td>
                <td colspan="8">
                  <center><button class="btn-link btn-primary" onclick="editRow('equipment')">
                    <i class="fa fa-edit"></i>
                  </button></center>
              </td>
            </tr>
            <tr>

                <td>Serial Number</td>
                <td>
                  <span id="serial-view">{{ desktops.desktop_SerialNo }}</span>
                  <input class="form-control input-full" id="serial-edit" type="text" name="serial_input" value="{{ desktops.desktop_SerialNo }}" style="display:none;">
                </td>
                <td colspan="8">
                  <center><button class="btn-link btn-primary" onclick="editRow('serial')">
                    <i class="fa fa-edit"></i>
                  </button></center>
                </td>
            </tr>
            <tr>
                <td>Brand Name</td>
                <td>
                  <span id="brand-view">{{ desktops.desktop_BrandName }}</span>
                  <input class="form-control input-full" id="brand-edit" type="text" name="brand_input" value="{{ desktops.desktop_BrandName }}" style="display:none;">
                </td>
                <td colspan="8">
                  <center><button class="btn-link btn-primary" onclick="editRow('brand')">
                    <i class="fa fa-edit"></i>
                  </button></center>
                </td>
          
            </tr>
            <tr>
              <td>Model</td>
              <td>
                  <span id="model-view">{{ desktops.desktop_Model }}</span>
                  <input class="form-control input-full" id="model-edit" type="text" name="model_input" value="{{ desktops.desktop_Model }}" style="display:none;">
              </td>
              <td colspan="8">
                <center><button class="btn-link btn-primary" onclick="editRow('model')">
                  <i class="fa fa-edit"></i>
                </button></center>
              </td>
            </tr>
            <tr>
              <td>Processor</td>
              <td>
                  <span id="processor-view">{{ desktops.desktop_Processor }}</span>
                  <input class="form-control input-full" id="processor-edit" type="text" name="processor_input" value="{{ desktops.desktop_Processor }}" style="display:none;">
              </td>
                <td colspan="8">
                  <center><button class="btn-link btn-primary" onclick="editRow('processor')">
                    <i class="fa fa-edit"></i>
                  </button></center>
                </td>
            </tr> 
          </thead>
            <!-- Add more fields as needed -->
        </table>
        
          {% csrf_token %}
          <button class="btn btn-primary" type="submit" id="save-btn" style="display:none;">Save Changes</button>
      

</form>

</div>
{% comment %} end content here {% endcomment %}


        <div id="myChartLegend"><ul class="0-legend html-legend"><li><span style="background-color:#f3545d"></span>Subscribers</li><li><span style="background-color:#fdaf4b"></span>New Visitors</li><li><span style="background-color:#177dff"></span>Active Users</li></ul></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-primary card-round">
  
        <div class="card card-primary card-round">
          <div class="card-body pb-0">
            <div class="mb-4 mt-2 image-wrapper">
              <h1>Desktop Image</h1>
              {% if desktops.desktop_Image %}
              <img src="{{ desktops.desktop_Image.url }}" alt="Desktop Image" class="img-fluid">    
          {% else %}
              <p>No image available.</p>
          {% endif %}
            </div>
            </div>
          </div>  
    </div>
  </div>





<script>
  function editRow(rowId) {
    event.preventDefault();  // Prevent form submission on button click
    // Hide the view element
    document.getElementById(rowId + '-view').style.display = 'none';
    // Show the input field for editing
    document.getElementById(rowId + '-edit').style.display = 'block';

    // Show the Save Changes button
    document.getElementById('save-btn').style.display = 'block';
  }
</script>


<!-- Modal -->



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pop-Up Modal Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to dispose the Desktop Package?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
