{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <h4 class="card-title">Disposed Keyboards</h4>
              <div class="card-tools">
                <a href="#" class="btn btn-label-success btn-round btn-sm me-2">
                  <span class="btn-label">
                    <i class="fa fa-download"></i>
                  </span>
                  Export
                </a>
                <a href="#" class="btn btn-label-info btn-round btn-sm">
                  <span class="btn-label">
                    <i class="fa fa-print"></i>
                  </span>
                  Print
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="disposed-keyboards-table" class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th>IT Equipment</th>
                    <th>Serial No.</th>
                    <th>Brand Name</th>
                    <th>Model Name</th>
                    <th>Disposal Date</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>IT Equipment</th>
                    <th>Serial Number</th>
                    <th>Brand Name</th>
                    <th>Model Name</th>
                    <th>Disposal Date</th>
                    <th>Link</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for disposed_keyboard in disposed_keyboards %}
                  <tr>
                    <td>{{ disposed_keyboard.keyboard.equipment_package }}</td>
                    <td>{{ disposed_keyboard.keyboard.keyboard_sn }}</td>
                    <td>{{ disposed_keyboard.keyboard.brand }}</td>
                    <td>{{ disposed_keyboard.keyboard.model }}</td>
                    <td>{{ disposed_keyboard.disposal_date }}</td>
                    <td>
                      <a href="{% url 'desktop_detailed_view' disposed_keyboard.keyboard.equipment_package.id %}">
                        <span class="sub-item">View Details</span>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}