{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <!-- First Container -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <h4 class="card-title">Keyboard</h4>
              <div class="card-tools">
                <a href="#" class="btn btn-label-danger btn-round btn-sm me-2">
                  <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                  </span>
                  Return to Supply
                </a>
                <a href="#" class="btn btn-label-success btn-round btn-sm me-2">
                  <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                  </span>
                  Export
                </a>
                <a href="#" class="btn btn-label-info btn-round btn-sm">
                  <span class="btn-label">
                    <i class="fa fa-print"></i>
                  </span>
                  Print
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="multi-filter-select" class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th>IT Equipment</th>
                    <th>Serial No.</th>
                    <th>Brand Name</th>
                    <th>Model Name</th>
                    <th>Processor</th>
                    <th>Memory</th>
                    <th>Hard Drive</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Package Number</th>
                    <th>Serial Number</th>
                    <th>Brand Name</th>
                    <th>Model Name</th>
                    <th>Processor</th>
                    <th>Memory</th>
                    <th>Hard Drive</th>
                    <th>Link</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for keyboard in keyboard_details %}
                  <tr>
                    <td>{{ keyboard.desktop_package }}</td>
                    <td>{{ keyboard.keyboard_sn }}</td>
                    <td>{{ keyboard.brand }}</td>
                    <td>{{ keyboard.model }}</td>
                    <td>{{ keyboard.processor }}</td>
                    <td>{{ keyboard.memory }}</td>
                    <td>{{ keyboard.hard_drive }}</td>
                    <td>
                      <a href="{% url 'desktop_detailed_view' keyboard.desktop_package.id %}">
                        <span class="sub-item">View Details</span>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Container (Identical to the First) -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <h4 class="card-title">Mouse</h4>
              <div class="card-tools">
                <a href="#" class="btn btn-label-danger btn-round btn-sm me-2">
                  <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                  </span>
                  Return to Supply
                </a>
                <a href="#" class="btn btn-label-success btn-round btn-sm me-2">
                  <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                  </span>
                  Export
                </a>
                <a href="#" class="btn btn-label-info btn-round btn-sm">
                  <span class="btn-label">
                    <i class="fa fa-print"></i>
                  </span>
                  Print
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="multi-filter-select" class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th>IT Equipment</th>
                    <th>Serial No.</th>
                    <th>Brand Name</th>
                    <th>Model Name</th>
                    <th>Processor</th>
                    <th>Memory</th>
                    <th>Hard Drive</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Package Number</th>
                    <th>Serial Number</th>
                    <th>Brand Name</th>
                    <th>Model Name</th>
                    <th>Processor</th>
                    <th>Memory</th>
                    <th>Hard Drive</th>
                    <th>Link</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for mouse in mouse_details %}
                  <tr>
                    <td>{{ mouse.desktop_package }}</td>
                    <td>{{ mouse.mouse_sn }}</td>
                    <td>{{ mouse.brand }}</td>
                    <td>{{ mouse.model }}</td>
                    <td>{{ keyboard.processor }}</td>
                    <td>{{ keyboard.memory }}</td>
                    <td>{{ keyboard.hard_drive }}</td>
                    <td>
                      <a href="#">
                        <span class="sub-item">View Details</span>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}
